<p>
  <b>Article:</b>
  <%=h @infoset.article_id %>
</p>

<p>
  <b>Vendor:</b>
  <%=h @infoset.vendor_id %>
</p>


<%= link_to 'Edit', edit_infoset_path(@infoset) %> |
<%= link_to 'Back', infosets_path %>
