* {
  margin: 0;
}
body {
  background-color: #ddd;
}
#container {
  width: 800px;
  margin: 0 auto;
}
#header {
  background-color: #006999;
  padding: 10px;
  color: #fff;
  text-align: center;
}
#content {
  margin-left: 150px;
  border: 2px solid #006999;
  padding: 10px;
  background-color: #fff;
  min-height: 200px;
}
#navigation {
  float: left;
  width: 120px;
  border: 2px solid #006999;
  padding: 10px;
  background-color: #fff;
}
#footer {
  clear: both;
  margin: 0;
  padding: 10px;
}
.notice {
  border: 1px solid #008414;
  color: #008414;
  background-color: #D8FFBB;
}
.error {
  border: 1px solid #990A0C;
  color: #990A0C;
  background-color: #FFA894;
}
