<p>
  <b>Description:</b>
  <%=h @department.description %>
</p>

<p>
  <b>Hospital:</b>
  <%=h @department.hospital_id %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
