<h1>New vendor</h1>

<%= error_messages_for :vendor %>

<% form_for(@vendor) do |f| %>
  <p>
    <b>Address</b><br />
    <%= f.text_field :address_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vendors_path %>
