<p>
  <b>Address:</b>
  <%=h @hospital.address_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @hospital.name %>
</p>


<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
